@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: rgb(241, 235, 163);
    margin: 0;
    padding: 0;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/* card-panel */

.img {
    max-width: 100%;
    height: auto;
  }

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block; /* Optional: Helps with margin issues */
  }


  /* modal */
  nav a {
    color: #fff;
    font-size: xx-large;
}

#myModal .modal-content img {
    background-color: rgb(241, 235, 163);
    max-width: 100%; /* Make the image responsive */
    height: auto;
    display: block; /* Remove extra space below the image */
    margin: 10px auto; /* Center the image */
}

.modal-content {
    background-color: rgb(241, 235, 163);
    
}

.limited-image {
    max-width: 150px; /* Limits width */
    height: auto;     /* Maintains aspect ratio */
    border-radius: 8px; /* Adds rounded corners (optional) */