{% extends 'base.html' %}
{% block content %}
    <br><br>
    <h4 class="title">Welcome To Mexicana a Fun Website Showcasing Mexican Food.</h4>
    <hr><br>
    <p>
        "This Mexican food website serves as a vibrant celebration of Mexico's rich culinary heritage, 
        offering an inviting platform for food lovers to explore traditional and modern Mexican recipes. 
        From the fiery flavors of authentic salsas to the comforting aromas of homemade tamales, 
        the site showcases the depth and diversity of Mexican cuisine. With visually appealing 
        layouts and intuitive navigation, users can easily discover step-by-step guides, cultural insights, 
        and cooking tips to recreate these dishes in their own kitchens. Perfect for anyone looking to 
        dive into the world of Mexican gastronomy, the website combines mouthwatering imagery with a 
        heartfelt homage to the stories and traditions behind each recipe."
    </p>
    <br>
    <h4 class="black-text">Please use the dropdown menu below to see more .. </h4>
    <br>

    <br>
    <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text blue-grey lighten-1 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small red">Edit</a>
                    {% if recipe.created_by == session['user'] %}
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" 
                           class="btn-small red" 
                           onclick="return confirm('Are you sure?')">
                            Delete
                        </a>
                    {% endif %}
                </div>
                <strong>{{ recipe.recipe_name }}</strong>
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <div class="col s12 m4">
                        <img src="{{ url_for('static', filename='images/' + recipe.image_filename) 
                        if recipe.image_filename else '/static/images/tortilla.jpg' }}"
                        alt="{{ recipe.recipe_name }}" class="responsive-img" style="max-height: 
                        200px; width: auto;">
                    </div>
                    <div class="col s12 m8">
                        <h4>{{ recipe.recipe_name }}</h4>
                        <p><strong>Ingredients:</strong> {{ ', '.join(recipe.recipe_ingredients) }}</p>
                        <p><strong>Servings:</strong> {{ recipe.recipe_servings }}</p>
                        <p><strong>Cook Time:</strong> {{ recipe.recipe_cooktime }}</p>
                        <p><em>Created By: {{ recipe.created_by }}</em></p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}