{% extends 'base.html' %}
{% block content %}
    <br>
    <br>
    <h4 class="title">Welcome To Mexicana a Fun Website Showcasing Mexican Food.</h4>
    
    <hr>
    <br>
    <h4 class="black-text">Please use the dropdown menu below to see more .. </h4>
    <br>
    

    <br>
   <ul class="collapsible">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header white-text blue-grey lighten-1 text-shadow">
                <div class="col s3">
                <i class="fas fa-caret-down"></i>
                {% if recipe.created_by == session['user'] %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" 
                class="btn-small red" 
                onclick="return confirm('Are you sure?')">
                Delete
                </a>
        {% endif %}

            </div>
                <strong>{{ recipe.recipe_description }}</strong> : {{ recipe.recipe_name }}
            </div>
            <div class="collapsible-body">
                <div class="row">
                    <!-- Image Column -->
                    <div class="col s12 m4">
                        <img src="/static/images/tortilla.jpg" alt="{{ recipe.recipe_name }}" class="responsive-img">
                    </div>
                    <!-- Recipe Details Column -->
                    <div class="col s12 m8">
                        <strong>{{ recipe.recipe_description }}</strong> : {{ recipe.recipe_name }}
                        <p><strong>Ingredients:</strong> {{ recipe.recipe_ingredients }}</p>
                        <p><strong>Servings:</strong> {{ recipe.recipe_servings }}</p>
                        <p><strong>Preparation {{ recipe.recipe_preparation }}
                        <p><strong>Instructions:</strong> {{ recipe.recipe_instructions }}</p>
                        <p><strong>Cook Time:</strong> {{ recipe.recipe_cooktime }}</p>
                        <p><em>by: {{ recipe.created_by }}</em></p>
                    </div>                
            </div>
            
        </li>
        
        {% endfor %}
      </ul>
{% endblock %}